In [1]:
import os
cwd = os.getcwd()
data_dir = cwd + '/dataset'
os.listdir(data_dir)

['prev_check2_clean.csv',
 'application_test.csv',
 '.DS_Store',
 'HomeCredit_columns_description.csv',
 'POS_CASH_balance.csv',
 'train_set.csv',
 'test_set.csv',
 'credit_card_balance.csv',
 'installments_payments.csv',
 'application_train.csv',
 'bureau.csv',
 'bu_clean.csv',
 'prev_check1_clean.csv',
 'previous_application.csv',
 'HomeCredit_columns_description.xls',
 'bureau_balance.csv',
 'sample_submission.csv']

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns

%matplotlib inline
pd.set_option('max_columns',500)
pd.set_option('max_rows',500)

In [3]:
train_data = pd.read_csv(data_dir + "/application_train.csv",index_col='SK_ID_CURR')
test_data = pd.read_csv(data_dir + "/application_test.csv",index_col='SK_ID_CURR')
bu_clean = pd.read_csv(data_dir + "/bu_clean.csv",index_col='SK_ID_CURR')
prev_check1 = pd.read_csv(data_dir + '/prev_check1_clean.csv',index_col='SK_ID_CURR')
prev_check2 = pd.read_csv(data_dir + '/prev_check2_clean.csv',index_col='SK_ID_CURR')

In [4]:
#colomns = list(data.columns.values)
#print(colomns)
train_data.head(5)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
x_features = [ 'NAME_CONTRACT_TYPE','FLAG_OWN_CAR', \
                   'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', \
                   'AMT_CREDIT', 'AMT_ANNUITY', \
                   'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', \
                   'NAME_HOUSING_TYPE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', \
                   'DAYS_REGISTRATION', 'FLAG_CONT_MOBILE',\
                   'CNT_FAM_MEMBERS', \
                   'REGION_RATING_CLIENT_W_CITY', \
                   'LIVE_REGION_NOT_WORK_REGION', \
                   'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_1', \
                   'EXT_SOURCE_2', 'EXT_SOURCE_3' ]
y_features = ['TARGET']

In [6]:
full_data = [train_data[x_features+y_features], test_data[x_features]]
y_train = train_data[y_features]

## 检查full data中数据的NAN及统计特性

In [7]:
full_data[0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307511 entries, 100002 to 456255
Data columns (total 23 columns):
NAME_CONTRACT_TYPE             307511 non-null object
FLAG_OWN_CAR                   307511 non-null object
FLAG_OWN_REALTY                307511 non-null object
CNT_CHILDREN                   307511 non-null int64
AMT_INCOME_TOTAL               307511 non-null float64
AMT_CREDIT                     307511 non-null float64
AMT_ANNUITY                    307499 non-null float64
NAME_INCOME_TYPE               307511 non-null object
NAME_EDUCATION_TYPE            307511 non-null object
NAME_FAMILY_STATUS             307511 non-null object
NAME_HOUSING_TYPE              307511 non-null object
DAYS_BIRTH                     307511 non-null int64
DAYS_EMPLOYED                  307511 non-null int64
DAYS_REGISTRATION              307511 non-null float64
FLAG_CONT_MOBILE               307511 non-null int64
CNT_FAM_MEMBERS                307509 non-null float64
REGION_RATING_CLIENT_W_CITY    307511 non-null int64
LIVE_REGION_NOT_WORK_REGION    307511 non-null int64
LIVE_CITY_NOT_WORK_CITY        307511 non-null int64
EXT_SOURCE_1                   134133 non-null float64
EXT_SOURCE_2                   306851 non-null float64
EXT_SOURCE_3                   246546 non-null float64
TARGET                         307511 non-null int64
dtypes: float64(8), int64(8), object(7)
memory usage: 56.3+ MB

In [8]:
full_data[1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48744 entries, 100001 to 456250
Data columns (total 22 columns):
NAME_CONTRACT_TYPE             48744 non-null object
FLAG_OWN_CAR                   48744 non-null object
FLAG_OWN_REALTY                48744 non-null object
CNT_CHILDREN                   48744 non-null int64
AMT_INCOME_TOTAL               48744 non-null float64
AMT_CREDIT                     48744 non-null float64
AMT_ANNUITY                    48720 non-null float64
NAME_INCOME_TYPE               48744 non-null object
NAME_EDUCATION_TYPE            48744 non-null object
NAME_FAMILY_STATUS             48744 non-null object
NAME_HOUSING_TYPE              48744 non-null object
DAYS_BIRTH                     48744 non-null int64
DAYS_EMPLOYED                  48744 non-null int64
DAYS_REGISTRATION              48744 non-null float64
FLAG_CONT_MOBILE               48744 non-null int64
CNT_FAM_MEMBERS                48744 non-null float64
REGION_RATING_CLIENT_W_CITY    48744 non-null int64
LIVE_REGION_NOT_WORK_REGION    48744 non-null int64
LIVE_CITY_NOT_WORK_CITY        48744 non-null int64
EXT_SOURCE_1                   28212 non-null float64
EXT_SOURCE_2                   48736 non-null float64
EXT_SOURCE_3                   40076 non-null float64
dtypes: float64(8), int64(7), object(7)
memory usage: 8.6+ MB

我们先将其它表格中处理的数据整合到主表中来分析整个train_set与test_set的特点

In [9]:
data0 = full_data[0]
data0 = pd.concat([data0,bu_clean,prev_check1,prev_check2],axis=1, join_axes=[data0.index])
data0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307511 entries, 100002 to 456255
Data columns (total 45 columns):
NAME_CONTRACT_TYPE             307511 non-null object
FLAG_OWN_CAR                   307511 non-null object
FLAG_OWN_REALTY                307511 non-null object
CNT_CHILDREN                   307511 non-null int64
AMT_INCOME_TOTAL               307511 non-null float64
AMT_CREDIT                     307511 non-null float64
AMT_ANNUITY                    307499 non-null float64
NAME_INCOME_TYPE               307511 non-null object
NAME_EDUCATION_TYPE            307511 non-null object
NAME_FAMILY_STATUS             307511 non-null object
NAME_HOUSING_TYPE              307511 non-null object
DAYS_BIRTH                     307511 non-null int64
DAYS_EMPLOYED                  307511 non-null int64
DAYS_REGISTRATION              307511 non-null float64
FLAG_CONT_MOBILE               307511 non-null int64
CNT_FAM_MEMBERS                307509 non-null float64
REGION_RATING_CLIENT_W_CITY    307511 non-null int64
LIVE_REGION_NOT_WORK_REGION    307511 non-null int64
LIVE_CITY_NOT_WORK_CITY        307511 non-null int64
EXT_SOURCE_1                   134133 non-null float64
EXT_SOURCE_2                   306851 non-null float64
EXT_SOURCE_3                   246546 non-null float64
TARGET                         307511 non-null int64
BU_ACTIVE_CREDIT               263491 non-null float64
BU_BADDEBT_CREDIT              263491 non-null float64
BU_CLOSE_CREDIT                263491 non-null float64
BU_SOLD_CREDIT                 263491 non-null float64
BU_MAX_DAY_OVERDUE             263491 non-null float64
BU_SUM_DEBT                    263491 non-null float64
BU_SUM_OVERDUE                 263491 non-null float64
AMT_MAX_APPROVED               290065 non-null float64
AMT_MAX_REFUSED                100294 non-null float64
AMT_MIN_APPROVED               290065 non-null float64
AMT_MIN_REFUSED                100294 non-null float64
CNT_APPROVED                   290065 non-null float64
CNT_CANCELED                   110726 non-null float64
CNT_REFUSED                    100294 non-null float64
CNT_UNUSED                     19033 non-null float64
DAYS_LAST_APPROVED             290065 non-null float64
DAYS_LAST_DUE                  289760 non-null float64
DAYS_LAST_REFUSED              100294 non-null float64
DAYS_TERMINATION               289760 non-null float64
AMT_INSTALMENT                 291643 non-null float64
AMT_PAYMENT                    291643 non-null float64
AMT_TOTAL_RECEIVABLE           86905 non-null float64
dtypes: float64(30), int64(8), object(7)
memory usage: 107.9+ MB

In [10]:
data1 = full_data[1]
data1 = pd.concat([data1,bu_clean,prev_check1,prev_check2],axis=1, join_axes=[data1.index])
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48744 entries, 100001 to 456250
Data columns (total 44 columns):
NAME_CONTRACT_TYPE             48744 non-null object
FLAG_OWN_CAR                   48744 non-null object
FLAG_OWN_REALTY                48744 non-null object
CNT_CHILDREN                   48744 non-null int64
AMT_INCOME_TOTAL               48744 non-null float64
AMT_CREDIT                     48744 non-null float64
AMT_ANNUITY                    48720 non-null float64
NAME_INCOME_TYPE               48744 non-null object
NAME_EDUCATION_TYPE            48744 non-null object
NAME_FAMILY_STATUS             48744 non-null object
NAME_HOUSING_TYPE              48744 non-null object
DAYS_BIRTH                     48744 non-null int64
DAYS_EMPLOYED                  48744 non-null int64
DAYS_REGISTRATION              48744 non-null float64
FLAG_CONT_MOBILE               48744 non-null int64
CNT_FAM_MEMBERS                48744 non-null float64
REGION_RATING_CLIENT_W_CITY    48744 non-null int64
LIVE_REGION_NOT_WORK_REGION    48744 non-null int64
LIVE_CITY_NOT_WORK_CITY        48744 non-null int64
EXT_SOURCE_1                   28212 non-null float64
EXT_SOURCE_2                   48736 non-null float64
EXT_SOURCE_3                   40076 non-null float64
BU_ACTIVE_CREDIT               42320 non-null float64
BU_BADDEBT_CREDIT              42320 non-null float64
BU_CLOSE_CREDIT                42320 non-null float64
BU_SOLD_CREDIT                 42320 non-null float64
BU_MAX_DAY_OVERDUE             42320 non-null float64
BU_SUM_DEBT                    42320 non-null float64
BU_SUM_OVERDUE                 42320 non-null float64
AMT_MAX_APPROVED               47633 non-null float64
AMT_MAX_REFUSED                17983 non-null float64
AMT_MIN_APPROVED               47633 non-null float64
AMT_MIN_REFUSED                17983 non-null float64
CNT_APPROVED                   47633 non-null float64
CNT_CANCELED                   21968 non-null float64
CNT_REFUSED                    17983 non-null float64
CNT_UNUSED                     3046 non-null float64
DAYS_LAST_APPROVED             47633 non-null float64
DAYS_LAST_DUE                  47580 non-null float64
DAYS_LAST_REFUSED              17983 non-null float64
DAYS_TERMINATION               47580 non-null float64
AMT_INSTALMENT                 47944 non-null float64
AMT_PAYMENT                    47944 non-null float64
AMT_TOTAL_RECEIVABLE           16653 non-null float64
dtypes: float64(30), int64(7), object(7)
memory usage: 16.7+ MB

### 清理nan数据

In [11]:
for i,data in enumerate(full_data):
    data = pd.concat([data,bu_clean,prev_check1,prev_check2],axis=1, join_axes=[data.index])
    
    data['AMT_ANNUITY'] = data['AMT_ANNUITY'].fillna(0)
    #data['AMT_GOODS_PRICE'] = data['AMT_GOODS_PRICE'].fillna(0)
    #data['OCCUPATION_TYPE'] = data['OCCUPATION_TYPE'].fillna('Unknown')
    data['CNT_FAM_MEMBERS'] = data['CNT_FAM_MEMBERS'].fillna(0).astype(int)
    #for three external sources, the NAN should be colomn mean? Row mean? Or Zero?
    data['EXT_SOURCE_1'] = data['EXT_SOURCE_1'].fillna(0)
    data['EXT_SOURCE_2'] = data['EXT_SOURCE_2'].fillna(0)
    data['EXT_SOURCE_3'] = data['EXT_SOURCE_3'].fillna(0)
    data['BU_ACTIVE_CREDIT'] = data['BU_ACTIVE_CREDIT'].fillna(0).astype(int)
    data['BU_BADDEBT_CREDIT'] = data['BU_BADDEBT_CREDIT'].fillna(0).astype(int)
    data['BU_CLOSE_CREDIT'] = data['BU_CLOSE_CREDIT'].fillna(0).astype(int)
    data['BU_SOLD_CREDIT'] = data['BU_SOLD_CREDIT'].fillna(0).astype(int)
    data['BU_MAX_DAY_OVERDUE'] = data['BU_MAX_DAY_OVERDUE'].fillna(0).astype(int)
    data['BU_SUM_DEBT'] = data['BU_SUM_DEBT'].fillna(0)
    data['BU_SUM_OVERDUE'] = data['BU_SUM_OVERDUE'].fillna(0)
    data['AMT_MAX_APPROVED'] = data['AMT_MAX_APPROVED'].fillna(0)
    data['AMT_MAX_REFUSED'] = data['AMT_MAX_REFUSED'].fillna(0)
    data['AMT_MIN_APPROVED'] = data['AMT_MIN_APPROVED'].fillna(0)
    data['AMT_MIN_REFUSED'] = data['AMT_MIN_REFUSED'].fillna(0)
    data['CNT_APPROVED'] = data['CNT_APPROVED'].fillna(0).astype(int)
    data['CNT_CANCELED'] = data['CNT_CANCELED'].fillna(0).astype(int)
    data['CNT_REFUSED'] = data['CNT_REFUSED'].fillna(0).astype(int)
    data['CNT_UNUSED'] = data['CNT_UNUSED'].fillna(0).astype(int)
    data['DAYS_LAST_APPROVED'] = data['DAYS_LAST_APPROVED'].fillna(1).astype(int)
    data['DAYS_LAST_DUE'] = data['DAYS_LAST_DUE'].fillna(0).astype(int)#is Zeros ok?
    data['DAYS_LAST_REFUSED'] = data['DAYS_LAST_REFUSED'].fillna(1).astype(int)
    data['DAYS_TERMINATION'] = data['DAYS_TERMINATION'].fillna(0).astype(int)#is zeros ok?
    data['AMT_INSTALMENT'] = data['AMT_INSTALMENT'].fillna(0)
    data['AMT_PAYMENT'] = data['AMT_PAYMENT'].fillna(0)
    data['AMT_TOTAL_RECEIVABLE'] = data['AMT_TOTAL_RECEIVABLE'].fillna(0)
    
    full_data[i] = data

In [12]:
for data in full_data:
    data['NAME_CONTRACT_TYPE'] = data['NAME_CONTRACT_TYPE'].map({'Cash loans':0,
                                                             'Revolving loans':1}).astype(int)
    data['FLAG_OWN_CAR'] = data['FLAG_OWN_CAR'].map({'N':0,'Y':1}).astype(int)
    data['FLAG_OWN_REALTY'] = data['FLAG_OWN_REALTY'].map({'N':0,'Y':1}).astype(int)
    data['NAME_INCOME_TYPE'] = data['NAME_INCOME_TYPE'].map({'Businessman': 0,
                                                         'Commercial associate': 1,
                                                         'Maternity leave': 2,
                                                         'Pensioner': 3,
                                                         'State servant': 4,
                                                         'Student': 5,
                                                         'Unemployed': 6,
                                                         'Working': 7}).astype(int)
    data['NAME_EDUCATION_TYPE'] = data['NAME_EDUCATION_TYPE'].map({'Academic degree': 0,
                                                               'Higher education': 1,
                                                               'Incomplete higher': 2,
                                                               'Lower secondary': 3,
                                                               'Secondary / secondary special': 4}).astype(int)
    data['NAME_FAMILY_STATUS'] = data['NAME_FAMILY_STATUS'].map({'Civil marriage': 1,
                                                               'Married': 2,
                                                               'Separated': 3,
                                                               'Single / not married': 4,
                                                               'Unknown':0,
                                                               'Widow': 5}).astype(int)
    data['NAME_HOUSING_TYPE'] = data['NAME_HOUSING_TYPE'].map({'Co-op apartment':0,
                                                           'House / apartment':1,
                                                           'Municipal apartment':2,
                                                           'Office apartment':3,
                                                           'Rented apartment':4,
                                                           'With parents':5}).astype(int)
    data['OCCUPATION_TYPE'] = data['OCCUPATION_TYPE'].map({'Accountants':0,
                                                       'Cleaning staff':1,
                                                       'Cooking staff':2,
                                                       'Core staff':3,
                                                       'Drivers':4,
                                                       'HR staff':5,
                                                       'High skill tech staff':6,
                                                       'IT staff':7,
                                                       'Laborers':8,
                                                       'Low-skill Laborers':9,
                                                       'Managers':10,
                                                       'Medicine staff':11,
                                                       'Private service staff':12,
                                                       'Realty agents':13,
                                                       'Sales staff':14,
                                                       'Secretaries':15,
                                                       'Security staff':16,
                                                       'Unknown':17,
                                                       'Waiters/barmen staff':18}).astype(int)
'''  data['ORGANIZATION_TYPE'] = data['ORGANIZATION_TYPE'].map({'Advertising':1,
                                                           'Agriculture':2,
                                                           'Bank':3,
                                                           'Business Entity Type 1':4,
                                                           'Business Entity Type 2':5,
                                                           'Business Entity Type 3':6,
                                                           'Cleaning':7,
                                                           'Construction':8,
                                                           'Culture':9,
                                                           'Electricity':10,
                                                           'Emergency':11,
                                                           'Government':12,
                                                           'Hotel':13,
                                                           'Housing':14,
                                                           'Industry: type 1':15,
                                                           'Industry: type 10':16,
                                                           'Industry: type 11':17,
                                                           'Industry: type 12':18,
                                                           'Industry: type 13':19,
                                                           'Industry: type 2':20,
                                                           'Industry: type 3':21,
                                                           'Industry: type 4':22,
                                                           'Industry: type 5':23,
                                                           'Industry: type 6':24,
                                                           'Industry: type 7':25,
                                                           'Industry: type 8':26,
                                                           'Industry: type 9':27,
                                                           'Insurance':28,
                                                           'Kindergarten':29,
                                                           'Legal Services':30,
                                                           'Medicine':31,
                                                           'Military':32,
                                                           'Mobile':33,
                                                           'Other':34,
                                                           'Police':35,
                                                           'Postal':36,
                                                           'Realtor':37,
                                                           'Religion':38,
                                                           'Restaurant':39,
                                                           'School':40,
                                                           'Security':41,
                                                           'Security Ministries':42,
                                                           'Self-employed':43,
                                                           'Services':44,
                                                           'Telecom':45,
                                                           'Trade: type 1':46,
                                                           'Trade: type 2':47,
                                                           'Trade: type 3':48,
                                                           'Trade: type 4':49,
                                                           'Trade: type 5':50,
                                                           'Trade: type 6':51,
                                                           'Trade: type 7':52,
                                                           'Transport: type 1':53,
                                                           'Transport: type 2':54,
                                                           'Transport: type 3':55,
                                                           'Transport: type 4':56,
                                                           'University':57,
                                                           'XNA':0}).astype(int)
'''

KeyError: 'OCCUPATION_TYPE'

In [ ]:
train_set = full_data[0]
test_set = full_data[1]
train_set.info()

In [ ]:
test_set.info()

### 查看参数的相关性

In [ ]:
colormap = plt.cm.RdBu
plt.figure(figsize=(12,12))
plt.title('Pearson Collection of Features')
sns.heatmap(train_set.corr(),linewidths=.1,vmax=1.0,square=True,\
            cmap=colormap,linecolor='white',annot=False)

In [ ]:
train_set.to_csv(data_dir + '/train_set.csv')
test_set.to_csv(data_dir + '/test_set.csv')

In [ ]:
a = [1,2,3]
b = [2]
a+b

In [ ]:
data0['AMT_ANNUITY'].isnull().any()